.container{
    width: 1170px;
    height: 368px;
    margin-left: 5%;
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cec5c5; 
    box-shadow: 0 3px 13px 1px blueviolet;
  }

  .texto{
    text-align: center;
    font-size: 24px;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight:bold;
    line-height: 15px; /* establece la distancia entre líneas de texto*/
}

.button {     
    background-color: rgb(86, 54, 116);
    height: 40px;
    border-color: antiquewhite;
    border-radius: 5px;   
    color: white;
    font-style: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;
    margin-left: 30px;
  }

  .warning {
    color: red
  }
  
  .danger {
    font-size: 10px;
    color: white;
    margin-left: 10em;
  }
  